#user-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 400px;
  margin-left: 30px;
  background-color: orange;
  margin-top: 150px;
  background-image: url("/styles/foggy-birds.png");

}


#user-tile img {
  padding-top: 50px;
}

#user-tile h2 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

@media only screen and (max-width: 900px) {
  #user-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 325px;
    background-color: orange;
    margin-top: 0;
    width: 100%;
    margin-left: 0;
  }

  #user-tile img {
    scale: .8;
    padding-top: 25px;
  }

  #user-tile h2 {
    padding: 0;
    scale: .65;
  }
}