.new-tweet div label {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 20px;
}

.new-tweet textarea {
  background-color: #f4f1ec;
  width: 100%;
  height: 50px;
  padding: 5px;
  font-size: 1em;
  border-bottom: 3px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}

label[for="tweet-text"] {
  font-size: 25px;
  color: black;
  font-weight: bold;
}

#tweet-text::placeholder {
  font-size: 15px;
  color: gray;
  font-style: italic;
}

#button-id {
  margin-bottom: 50px;
}

.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 1em;
  font-family: 'Bungee';
  border: 0px;
}

.new-tweet button:hover {
  background-color: orange;
}

.new-tweet button[disabled] {
  background-color: gray;
}

.new-tweet output {
  color: black;
  font-family: 'Bungee';
}

.new-tweet output.counter-exceeded {
  color: red;
}

.new-tweet div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}