/* html from client.js fieldset */

.tweet {
  border: 3px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease;
}

.tweet:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#tweet-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: #f4f1ec;

}

#tweet-header h4 {
  margin-top: 12px;
  margin-bottom: 10px;
  padding-left: 5px;
}

#tweet-header .handle{
  margin-left: auto; 
  margin-bottom: 10px;
  margin-top: 12px;
  }

.user-icon {
  width: 40px;
  height: 40px;
}


.tweet-content {
  margin: 10px;
  border-bottom: 3px solid black;
}

.icons {
  display: flex;
  align-items: center;
}

.icons i {
  margin-right: 10px;
  color: #4056A1;
  transition: color 0.3s ease;
}

.icons i:hover {
  color: orange;
}

.timestamp {
  margin-right: auto;
  margin-left: 10px;
}

#tweet-footer {
  display: flex;
  padding-left: 0;
}